

/* =================================
  			Basic Styles
==================================== */

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	text-align: center;
}

header {
	width: 100%;
	margin: 0;
	text-align: center;
	color: grey;
}

h1 {
	padding-top: 15px;
	margin-top: 0px;
	font-size: 1.5rem;

}

h2 {
	font-size: 1rem;
	text-transform: uppercase;
}

h3 {
	margin: 30px 0;
	font-weight: normal;
}

p {
	line-height: 1.5rem;
	color: grey;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

img {
	width: 90%;
}

li {
	list-style-type: none;
	margin: 0;
	text-align: center;
	text-transform: capitalize;
	color: #000;
}

ul {
	text-align: center;
}

.clearfix::after {
    content: "";
	display: table;
    clear: both;
}


/* =================================
 		 Basic Layout Styles
==================================== */

.wrapper {
	background: #F7F7F7;
}

.main-nav {
	text-align: center;
	width: 90%;
	display: table;
	margin: 0 auto;
}

.main-nav li {
	background: #fff;
	padding: 10px;
	margin-bottom: 10px;
}

.main-nav a {
	color: #2d2d2d;
	text-transform: uppercase;
	font-weight: bold;
}

.about {
	width: 90%;
	text-align: center;
	margin: 50px auto;
	color: #262626;
	font-weight: normal;
}

.about img {
	width: 75%;
	padding-bottom: 20px;
}

.portfolio {
	background: #fff;
	width: 100%;
	text-align: center;
}

.portfolio h2 {
	background: white;
	padding: 60px 0;
}

.portfolio p {
	width: 80%;
	margin: 30px auto;
}

.portfolio p:last-child {
	padding-bottom: 50px;
}

.contact {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 40px 0;
	text-align: center;
	border-bottom: 1px solid lightgrey;
}

.contact h2,
.contact-text {
	padding-bottom: 20px;
}

.contact a {
	font-weight: bold;
	color: grey;
	margin-left: 20px;
}

.footer-links {
	display: none;
}

.footer {
	border: 1px solid red;
	padding-bottom: 40px;
}

.footer p{
	font-weight: bold;
	text-align: left;
	margin-left: 1em;
	float: left;
}

.footer a{
	text-transform: uppercase;
	color: grey;
	text-align: right;
	margin-right: 1em;
}

.number, 
.email {
	font-weight: bold;

}


/* =================================
  			Media Queires
==================================== */